
<div class="row justify-content-center mt-5">
    <div class="col-md-6 justify-content-center">
        <form class="bg-light p-5 m-5 shadow" asp-action="BatchUpload" asp-controller="Service" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload file</label>
                <input id="batchservices" name="batchservices" class="form-control" type="file">
                <button type="submit" class="btn btn-outline-success mt-5">Upload Service</button>
            </div>
        </form>
    </div>
</div>