
<div class="row">
    <div class="col-md-12">
        <form asp-action="BatchUpload" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload file</label>
                <input id="batchproducts" name="batchproducts" class="form-control" type="file">
                <button type="submit" class="btn btn-outline-success mt-5">Upload Product</button>
            </div>
        </form>
    </div>
</div>