
<div class="row">
    <div class="col-md-12">
        <form asp-action="BatchUpload" asp-controller="citrix" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload file</label>
                <input id="batchcitrix" name="batchcitrix" class="form-control" type="file">
                <button type="submit" class="btn btn-outline-success mt-5">Upload Citrix</button>
            </div>
        </form>
    </div>
</div>